html,
body {
    background-color: #F7EFFF
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 8em;
    height: 8em;
}